.body {
    background-color: rgb(40, 52, 75);
}

h2, p {
    color: white;
}

.imagePreviewHeader {
    height: 100px;
    align-items: center;
}

.imageDetailLine {
    display: flex;
    flex-direction: row;
}

.imageDetailLineLabel {
    width: 250px;
}

.imageDetailLineText {
    padding-left: 10px;
}