.body {
    background-color: rgb(40, 52, 75);
}

img {
    width: 100%;
    background-color: mediumblue;
}

h5, p {
    color: white;
}

.test-button {
    margin-bottom: 10px;
}
/* .grid{
    width: 100%;
    border:solid red 1px;
    padding-left: 10px;
    padding-right: 10px;
}
.grid-item {
    width: 25%;
    margin-bottom: 10px;
} */

.grid { 
    /* display: flex;
    flex-flow: row wrap;
    margin-left: -8px; /* Adjustment for the gutter */
    /*width: 100%; */
    border: solid 1px rgb(251, 0, 189);
  }
  
  .grid-item {
    flex: auto;
    float: left;
    /*height: auto;
    max-width: 500px; */
    width: 300px;
    min-width: 300px;
    min-height: 167px;
    margin: 0 8px 8px 0; /* Some gutter */
    border: solid 1px lime;
  }