.body {
    background-color: rgb(40, 52, 75);
}

img {
    width: 100%;
    background-color: rgb(202, 202, 221);
}

h5, p {
    color: white;
}

.test-button {
    margin-bottom: 10px;
}

#photoGrid {
    height:auto;
}

.grid { 
    display: flex;
    flex-wrap: wrap;
  }
  
.grid-item {
  display: flex;
  flex-direction: column;
  position:relative;
  flex: auto;
  float: left;
  /*height: auto;
  max-width: 500px; */
  width: 300px;
  min-width: 300px;
  min-height: 167px;
  max-width: 500px;
  margin: 4px 4px 4px 4px; /* Some gutter */
  border: solid 2px lightslategray;
  background-color:rgb(65, 84, 121);
}

.imageCheerContainer {
    z-index: 100;
    position: absolute;
    bottom: 2px;
    right: 2px;
    font-size: 18px;
}

.imageCheerText {
    color: white;
    float: right;
    margin: 5px;
    font-weight: bold;
    font-size: 20px;
}

.imageCheerIcon {
    height: auto;
    width: 30px;
    margin-right: 2px;
    margin-top: 3px;
    background-color: transparent;
}

.grid-item:hover {
    border-color:rgb(255, 255, 255);
}

.imageLink {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;;
}

h5 .modal-title {
    color: black;
}

.modal-dialog {
    max-width: 80%;
}

.modal-content {
    background-color:rgb(42, 55, 83);
}

.close {
    color: rgb(255, 255, 255);
    text-shadow: none;
}

h2, p {
    color: white;
}

.imagePreviewHeader {
    height: 100px;
    align-items: center;
}

.imageDetailLine {
    display: flex;
    flex-direction: row;
}

.imageDetailLineLabel {
    width: 250px;
}

.imageDetailLineText {
    padding-left: 10px;
}

#notification {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 200px;
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  .hidden {
    display: none;
  }

#imageDisplay {
    height: auto;
    background-color: rgb(42, 55, 83);
    object-fit:contain;
}

.filtersDiv {
    background-color: grey;
}

.filtersToggle {
    text-align: center;
    color:rgb(255, 255, 255);
    background-color: rgb(107, 106, 112);
}

.filtersToggle:hover {
    color: lightgrey;
    /* background-color: rgb(69, 9, 138); */
}

/* .mainFilterContainer {
    border: solid 2px violet;
}

.filterCategoryContainer {
    border: solid 2px greenyellow;
}

.filterSubCategoryContainer {
    border: solid 2px purple;
}

.filterVisualArea {
    border: solid 2px grey;
}

.subCategory {
    border: solid 2px orange;
} */

.filterSubCategoryContainer {
    margin-bottom: 10px;
}

#expandCollapseFiltersButton {
    margin-top: 0;
    margin-bottom: 0;
}

/* unvisited link */
a:link {
    text-decoration:none;
    color: white;
}

/* visited link */
a:visited {
    text-decoration:none;
    color: white;
}

/* mouse over link */
a:hover {
    text-decoration:none;
    color: white;
}

/* selected link */
a:active {
    text-decoration:none;
    color: white;
}

.displayNone {
    display: none;
}

.filterVisualArea {
    color: white;
}

.criteriaTitle {
    /* border: pink 2px solid; */
    color: white;
}

/* .criteriaCollection {
    border:blue 2px solid;
}

.col {
    border: yellowgreen 2px solid;
}

.col-6 {
    border: yellowgreen 2px solid;
} */

.toggleFilter {
    min-width: 100px;
    color: white;
    background-color: lightslategrey;
}

#currentFilterCriteria {
    border: lightgrey 1px solid;
    flex-wrap: wrap;
    min-height: 50px;
    height: auto;
    width: 100%;
    display: flex;
    flex: auto;
    float: left;
    padding-top: 15px;
    padding-bottom: 15px;
}

/* Criteria Items */
.criteriaItem {
    flex-direction: row;
    max-height: 40px;
    text-align: center;
    padding: 5px;
    border-radius: 3px;
    background-color: cornflowerblue;
    /* border: solid 3px rgb(37, 37, 160); */
    display: flex;
    margin: 5px;
}

.criteriaItemText {
    line-height: 30px;
    margin: auto;
}

.criteriaRemove {
    display: inline-block;
    line-height: 30px;
    margin: auto;
    padding-left: 10px;
    color:rgb(255, 255, 255);
    font-size: 20px;
}

.criteriaRemove:hover {
    color: lightslategrey;
}

.filterControl {
    margin: auto;
}

#filterErrorText {
    color:crimson;
    font-size: large;
    font-weight: 500;
}

#btnOldestToNewest {
    margin-right: 10px;
}

#imageResultNumber {
    color: white;
    font-size: 1.3em;
    margin-left: auto;
    margin-right: 10px;
}

#txtUsername {
    min-width: 300px;
}

.feedOrLibrary {
    margin-right: 10px;
}